<div>
    <div class="flex justify-between gap-5">
        <div class="flex flex-col gap-1">
            <label htmlFor='price'>Price</label>
            <input 
                id="price" 
                type="number"
                [formControl]="form.controls['price']" 
                [maxlength]="7"
                class="w-full py-2 px-3 text-black rounded-sm outline-none" 
            />
        </div>
        <div class="flex flex-col gap-1">
            <label htmlFor='quantity'>Quantity</label>
            <input 
                id="quantity" 
                type="number" 
                [formControl]="form.controls['quantity']" 
                [maxlength]="5"
                class="w-full py-2 px-3 text-black rounded-sm outline-none"
            />
        </div>
    </div>
    <div class="flex justify-between gap-5 mt-5">
        <button 
            class="rounded-sm w-full py-2 bg-white text-black text-[12px]"
            [ngClass]="{
                'bg-secondary cursor-not-allowed': disabled('buy')
            }"
            [disabled]="disabled('buy')"
            (click)="placeOrder('bid')"
        >
            Buy
        </button>
        <button 
            class="rounded-sm w-full py-2 bg-white text-black text-[12px]"
            [ngClass]="{
                'bg-secondary cursor-not-allowed': disabled('sell')
            }"
            [disabled]="disabled('sell')"
            (click)="placeOrder('ask')"
        >
            Sell
        </button>
    </div>
</div>
