<div class="flex gap-3 rounded-sm fixed bottom-5 left-10 bg-secondary py-3 px-3">
    <div routerLink="/home/manageEvent">
        <button class="button-white">Create Event</button>
    </div>
    <div (click)="openEventList(true)">
        <button class="button-white">My Events</button>
    </div>
    <div (click)="openEventList(false)">
        <button class="button-white">All Events</button>
    </div>
    <div routerLink="/home/balance">
        <button class="button-white">Balance</button>
    </div>
</div>